html, body {
    font-size: 12px;
    background-color: #ddc;
    color: #333;
}

h1 {
    font-size: 2em;
}

.float-wrap {
    overflow: hidden;
}

#sidebar {
    font-size: 0.8em;
}

.article {
    max-width: 640px;
    border: 1px solid #eee  ;
    float: left;
    clear: left;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #fff;
}

.summary {
    font-size: .8em;
    margin-right: 1em;
    margin-bottom: 1em;
    float: left;
    background-color: #fff;
    border: 1px solid #efefef;
    height: 240px;
    max-width: 240px;
}

.summary-list {
    max-width: 640px;
    font-size: .9em;
    border: 1px solid #eee  ;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #fff;
}

.summary-list .padding,
.article .padding {
    padding: 20px 30px;
}

.article .feed-title {
    font-weight: normal;
}

.summary .padding {
    padding: 10px 20px;
}

.article .navbar {
    margin-bottom: 10px;
}

.summary small {
    display:none;
}

input[type="text"].input-small {
    font-size: inherit !important;
    height: 12px;
}

.article h1,
.article h2,
.article h3,
.article h4 {
    font-size: 13px;
}
