/*http://colorschemedesigner.com/#0031Tw0w0vyxQ*/
body {
    font-size: 15px;
    color: #555;
    font-family: 'PT Sans', sans-serif;
}

body.login-form {
    background: #efefef;
}

#login-form-wrapper {
    margin-top: 15%;
}

#login-form-wrapper h1 {
    padding-left: 15%;
}

.container-fluid {
    padding-left:0;
}

#login-form {
    -webkit-box-shadow: inset 0px 5px 15px 1px #222;
    box-shadow: inset 0px 5px 15px 1px #202020;
    border-bottom: 1px solid #202020;
    padding: 3em 0;
    padding-left: 15%;
    background: #333 url('debut_dark.png');
}

#feed-menu {
    padding:0;
    margin:0;

}

#feed-menu li {
    list-style: none;
    position:relative;
   line-height: 3em;
    margin-right:4em;
   padding: 0 2em;
}

#feed-menu li i {
    vertical-align: middle;
}

#feed-menu li a {
    font-size:1.8em;
    color: #333;
}

.green {
    background-color: #99AD6F;
}

.blue {
    background-color: rgb(56, 126, 139);
}

.orange {
    background-color: rgb(202, 110, 81);
}

h1 {
    color: #999;
    font: 700 2em 'PT Sans Narrow', sans-serif;
    margin-top:0;
}

.center {
    margin: 0 auto;
    float:none;
}

#sidebar {
    padding:1em 2em;
    border-radius: 3px;
}

#sidebar a {
    font: normal 1em/1.6em 'PT Sans Narrow', sans-serif;
}

#sidebar a.unread {
    font-weight: 700;
}

.summary-body h4 {
    font: 700 16px 'PT Sans Narrow', sans-serif;
    margin:0;
}

#nav-main a {
    font: 16px 'PT Sans Narrow', sans-serif;
}

.feed-description {
    color: #999;
    font: 16px 'PT Sans Narrow', sans-serif;
    border-radius: 3px;
    margin-bottom: 1em;
    display:block;
}
.summary-list {
    margin-top: 1em;
    background-color: #efefef;
}

#nav-main .nav-tabs li a {
}

#nav-main .nav-tabs li a:hover {
    background-color: #fff;
}

#content-main {
    overflow:auto;
}

#feed-heading {
    height: 114px;
    margin-bottom:1.3em;
    text-align: right;
}

.float-wrap {
    overflow: hidden;
}

.article {
    max-width: 640px;
    float: left;
    clear: left;
    background-color: #fff;
}

.article img {
    margin: 1em 0;
}

.feed-list {
}

.form-wrap, .summary {
    overflow:hidden;
    min-width: 165px;
    border-radius: 3px;
    margin-bottom:1em;
}

.poster-image {
    overflow:hidden;
    width: 165px;
    max-height: 140px;
    float: left;
    margin-bottom: 0.5em;
}

.poster-image img {
    width: 90%;
}

 .feed-list-compact {
    padding: 0 1em;
 }

 .feed-list-compact .poster-image {
    width: 96px;
    max-height: 64px;
 }

 .feed-list-compact .summary .padding {
    padding: 1em 1em 0;
 }

.summary-body {
    font-size: .9em;
    overflow:hidden;
    min-width: 140px;
    padding-bottom: 1em;
}

.summary-footer {
    font-size: 0.8em;
}

 .feed-list-compact .summary-body {
    padding: 0;
 }

.padding {
    padding: 0.5em 1em;
}

.summary-list .padding,
.article .padding {
}

.article .feed-title {
    font-size: 1.4em;
    font-weight: 700;
}

.summary .padding {
    padding: 1em 1.4em;
}

.article .navbar {
    margin-bottom: 10px;
}

.summary small {
    display:none;
}

input[type="text"].input-small {
    font-size: inherit !important;
    height: 12px;
}

.article h1,
.article h2,
.article h3,
.article h4 {
    font: bold 16px 'PT Sans Narrow', sans-serif;
}
