html, body {
    font-size: 14px;
    background: #333 url('debut_dark.png');
    color: #333;
    font-family: sans-serif;
}

a/*, a:hover, a:visited, a:active */{
    color: #DB4900;
}

h1 {
    color: #999;
    font: 700 2em 'PT Sans Narrow', sans-serif;
    margin-top:0;
}

#sidebar {
    background-color: #efefef;
    padding:1em;
    border-radius: 3px;
}

#sidebar a {
    font: normal 1em/1.6em 'PT Sans Narrow', sans-serif;
}

#sidebar a.unread {
    font-weight: 700;
}

.summary-body h4 {
    font: 700 16px 'PT Sans Narrow', sans-serif;
    margin:0;
}

#nav-main a {
    font: 16px 'PT Sans Narrow', sans-serif;
}

.feed-description {
    color: #999;
    font: 16px 'PT Sans Narrow', sans-serif;
    border-radius: 3px;
    margin-bottom: 1em;
    display:block;
}
.summary-list {
    margin-top: 1em;
    background-color: #efefef;
}

#nav-main .nav-tabs li a {
    background-color: #eee;
}

#nav-main .nav-tabs li a:hover {
    background-color: #fff;
}

.float-wrap {
    overflow: hidden;
}

.article {
    max-width: 640px;
    border: 1px solid #eee  ;
    float: left;
    clear: left;
    margin: 1em 0 1em 1em;
    background-color: #fff;
}

.article img {
    margin: 1em 0;
}

.feed-list {
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.summary {
    overflow:hidden;
    min-width: 165px;
}

.poster-image {
    overflow:hidden;
    width: 165px;
    max-height: 140px;
    float: left;
    margin-bottom: 0.5em;
}

.poster-image img {
    width: 90%;
}

 .feed-list-crunge .poster-image {
    width: 96px;
    max-height: 64px;
 }

 .feed-list-crunge .summary .padding {
    padding: 1em 1em 0;
 }

.summary-body {
    font-size: .9em;
    overflow:hidden;
    min-width: 140px;
    padding-bottom: 1em;
}

.summary-footer {
    font-size: 0.8em;
}

 .feed-list-crunge .summary-body {
    padding: 0;
 }


.summary-list .padding,
.article .padding {
    padding: 20px 30px;
}

.article .feed-title {
    font-size: 1.4em;
    font-weight: 700;
}

.summary .padding {
    padding: 1em 1.4em;
}

.article .navbar {
    margin-bottom: 10px;
}

.summary small {
    display:none;
}

input[type="text"].input-small {
    font-size: inherit !important;
    height: 12px;
}

.article h1,
.article h2,
.article h3,
.article h4 {
    font: 13px 'PT Sans Narrow', sans-serif;
}
