<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Munge - Feed Me!</title>
    <link href="[% request.uri_base %]/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="[% request.uri_base %]/favicon.ico">
    <script src="[% request.uri_base %]/js/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
  </head>
  <body>
    <div id="header" style="color: #fff;">
      hello, <a href="">name</a>. <a href="">my account</a> | <a href="">settings</a>
    </div>

    <div id="left">
        <ul id="mains">
            <li><a href="/">Home</a></li>
            <li><a href="/feed/yesterday">Yesterday</a></li>
            <li><a href="/feed/archive">Older</a></li>
            <li><a href="/feed/starred">Saved</a></li>

        </ul>
        <hr/>
        <ul id="mains">
            <li><a href="/feed/add">add new feed +</a></li>

        </ul>
        <hr/>

        <ul id="feeds">
        [% FOREACH f IN feeds %]
            <li><a href="/feed/[% f.uuid_string %]">[% f.title %] [% IF f.unread_items %]([% f.unread_items %])[% END %]</a></li>
        [% END %]

        </ul>
    </div>

    <div id="main">
        [% content %]
    </div>
  </body>
</html>
