<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Munge - Feed Me!</title>
    <link href="[% request.uri_base %]/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="[% request.uri_base %]/favicon.ico">
    <script src="[% request.uri_base %]/js/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
  </head>
  <body>
    <div id="header">

    </div>

    <div id="left">
        <ul id="mains">
            <li><a href="/">today</a></li>
            <li><a href="/feed/yesterday">yesterday</a></li>
            <li><a href="/feed/archive">older</a></li>
            <li><a href="/feed/starred">starred</a></li>

        </ul>

        <ul id="feeds">
        [% FOREACH f IN feeds %]
            <li><a href="/feed/[% f.uuid_string %]">[% f.title %] [% IF f.unread_items %]([% f.unread_items %])[% END %]</a></li>
        [% END %]

        </ul>
    </div>

    <div id="main">
        [% content %]
    </div>
  </body>
</html>
