<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Munge - Feed Me!</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="[% request.uri_base %]/favicon.ico">
    <script src="[% request.uri_base %]/js/jquery.js"></script>
    <script src="[% request.uri_base %]/js/bootstrap.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Munge</a>
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav pull-right">
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">[% account.email %] <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/account/logout">  logout</a></li>
                  <li><a href="/manage/import">import feeds from file</a></li>
                  <li><a href="/feed/refresh">refresh feeds</a></li>
                </ul>
              </li>
              <li><a title="reload feeds" href="/feed/refresh"><i class="icon-refresh icon-white"></i></a></li>
            </ul>
            <form class="navbar-form pull-right" action="/manage/subscribe" method="post">
              <input placeholder="import feed url" type="text" name="feed_url" id="subscribe-feed-url" />
              <button type="submit" class="btn"><i class="icon-ok-sign"></i>import</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div id="nav-main" class="span3">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="/"><i class="icon-th-large"></i> Recent</a></li>
                <li><a href="/feed/archive"><i class="icon-list"></i> Crunch</a></li>
                <li><a href="/feed/starred"><i class="icon-time"></i> Saved</a></li>
            </ul>
            <ul id="sidebar" class="nav nav-stacked">
                [% FOREACH f IN feeds %]
                <li><a class="[% IF f.unread_items %]unread[% END %]" href="/feed/[% f.uuid_string %]">[% f.title %] [% IF f.unread_items %]([% f.unread_items %])[% END %]</a></li>
                [% END %]
            </ul>
        </div>
        <div class="span9">
          [% content %]
        </div>
      </div>
    </div>
  </body>
</html>
