<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[% title %]</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="[% request.uri_base %]/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <body style="padding-top: 70px;" class="[% body_class %]">
    [% content %]
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="[% request.uri_base %]/js/bootstrap.min.js"></script>
  </body>
</html>
