<div style="position:relative;">
  <h1>[% feed.title %]</h1>
  <div style="margin: 1em 0;">
    <a href="/feed/remove/[% feed.uuid_string %]">remove</a>
    <a href="/feed/refresh/[% feed.uuid_string %]">refresh feed</a>
    <a href="/feed/read/[% feed.uuid_string %]">mark read</a>
  </div>
</div>
<div><em>[% feed.description %]</em></div>
    <div id="accordion">
    [% FOREACH item IN items %]
        [% INCLUDE 'feed/block/item.tt' item = item %]
    [% END %]
</div>