[% INCLUDE 'feed/block/head.tt' title = feed.title, uuid_string = feed.uuid_string, description = feed.description %]
<div class="float-wrap" id="accordion">
[% FOREACH item IN items %]
    [% INCLUDE 'feed/block/item.tt' item = item, feed = feed, skip_current = 1 %]
[% END %]
</div>
[% INCLUDE 'feed/block/read.tt' items = items %]
