<h1>Today</h1>
    <div id="accordion">
    [% FOREACH item IN items_today %]
        <h3 collapse-today-[% loop.index %]>[% item.title %]</h3>
        <div class="feed item">
        [% item.description %]
        </div>
    [% END %]
</div>

<script>
       $(function() {
        $( "#accordion" ).accordion({heightStyle: "content" });
    });
</script>