[% INCLUDE 'feed/block/head.tt' title = feed.feed_title, uuid_string = feed.feed_uuid_string, description = feed.feed_description %]
<div class="float-wrap" id="accordion">
[% INCLUDE 'feed/block/item.tt' item = feed, feed = feed %]
[% FOREACH item IN items %]
    [% INCLUDE 'feed/block/item.tt' item = item, feed = feed, skip_current = 1 %]
[% END %]
</div>
[% INCLUDE 'feed/block/read.tt' items = items %]
