<div class="form-wrap">
    <form class="padding" enctype="multipart/form-data" method="post" action="/manage/import">
      <p>
        <label for="subscriptions">Upload an OPML xml file here</label>
      </p>
      <p>
        <input accept="application/xml" type="file" name="subscriptions" id="subscriptions">
      </p>
      <p><input type="submit" class="btn" value="Upload"></p>
    </form>
</div>
