<form enctype="multipart/form-data" method="post">
  <p><label for="subscriptions">Upload an OPML xml file
  here</label></p>

  <p><input type="file" name="subscriptions" id=
  "subscriptions"></p>

  <p><input type="submit" value="upload"></p>
</form>

[% IF imported.size %]
    <ul>
    [% FOREACH feed IN imported %]
        <li>
            <strong>[% feed.title %]</strong><br/>
            <em>[% feed.description %]</em>
       </li>        
    [% END %]
    </ul>
[% END %]    