<h1>Could not subscribe to feed</h1>

<p>The feed you requested, <strong>[% url | html %]</strong> is not a valid feed url</p>

<p>
<form action="/manage/subscribe" method="post">
    <label for="subscribe_feed">Subscribe</label>
    <input type="text" name="subscribe_feed" id="subscribe_feed" />
    <input type="submit" value="subscribe" />
</form>
</p>